$goldColor: #d0ad6a;

.slider {
   position: relative;
   height: 100%;

   max-width: 1420px !important;

   padding: 0 140px !important;
   margin-top: 40px;

   @media (max-width: 767.98px) {
      padding: 0 15px !important;
      margin-top: 20px;

      height: 500px;

      .swiper-button-next,
      .swiper-button-prev {
         top: 390px;
      }
   }

   @media (max-width: 575.98px) {
      padding: 0 15px !important;
      margin-top: 0;

      height: 590px;

      .swiper-button-next,
      .swiper-button-prev {
         top: 420px;
      }
   }
   @media (min-width: 495px) and (max-width: 767.98px) {
      .order-btn {
         position: absolute;
         top: 74.3%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;

         width: 50%;

         a {
            width: 100%;
         }
      }
   }

   @media (min-width: 768px) and (max-width: 991.98px) {
      .order-btn {
         position: absolute;
         top: 95%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;
      }
   }

   .order-btn {
      text-align: center;
      .btn-sm {
         font-size: 1rem;
         font-weight: bold;
         border-width: 2px !important;

         @media (max-width: 767.98px) {
            font-size: 1rem;
         }
      }
   }

   @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 0px;
      .swiper-container {
         height: 540px;
      }

      .order-btn {
         top: 89%;

         a {
            font-size: 0.9rem !important;
         }
      }
   }

   @media (min-width: 992px) {
      .order-btn {
         position: absolute;
         top: 95%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;
      }
   }

   .order-btn {
      text-align: center;

      top: 89%;
      @media (min-width: 992px) {
         top: 96%;
      }
      a {
         font-size: 0.9rem !important;
      }
      .btn-sm {
         font-size: 1rem;
         font-weight: bold;
         border-width: 5px;

         @media (max-width: 767.98px) {
            font-size: 1rem;
         }
      }
   }

   @media (min-width: 576px) and (max-width: 767.98px) {
      .order-btn {
         text-align: center;

         top: 79.4%;
      }
   }
}

.swiper-button-next,
.swiper-button-prev {
   color: $goldColor;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
   left: 55px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
   right: 55px;
}

.swiper-container {
   width: 100%;
   height: 100%;

   height: 610px;
   overflow: hidden;
   @media (max-width: 575.98px) {
      height: 500px;
   }

   @media (min-width: 576px) and (max-width: 767.98px) {
      height: 450px;
   }
}
@media (max-width: 991.98px) {
   .swiper-slide {
      transform: scale(0.8) !important;
   }
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#scr4 {
   @media (min-width: 576px) and (max-width: 767.98px) {
      margin-top: 0;
      padding-top: 20px !important;
   }

   @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 0;
      padding-top: 20px !important;
   }

   @media (min-width: 992px) {
      margin-top: 0;
   }

   @media (max-width: 575.98px) {
      margin-top: 0;
      padding-top: 0 !important;
   }
}
